<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <head th:replace="fragments/sidebar :: sidebar" />

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="margin-top: 50px">

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">정보 수정하기</h1>
                <p class=""mb-4>수정할 정보를 입력해주세요</p>
                <div class="card shadow mb-4">
                    <!-- Begin Page Content -->
                    <div class="container-fluid" style="margin: 30px 0px">
                        <form th:object="${form}" method="post">

                            <input type="hidden" th:field="*{userId}" />

                            <div class="form-group">
                                <label th:for="name">이름</label>
                                <input type="text" th:field="*{username}" class="form-control" placeholder="이름을 입력하세요" />
                            </div>

                            <div class="form-group">
                                <label th:for="nickname">닉네임</label>
                                <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요" />
                            </div>

                            <div class="form-group">
                                <label th:for="major">전공</label>
                                <input type="text" th:field="*{major}" class="form-control" placeholder="전공을 입력하세요" />
                            </div>

                            <div class="form-group">
                                <label th:for="studentId">학번</label>
                                <input type="text" th:field="*{studentId}" class="form-control" placeholder="학번을 입력하세요" />
                            </div>

                            <div class="form-group">
                                <label th:for="part">파트</label>
                                <input type="text" th:field="*{part}" class="form-control" placeholder="파트를 입력하세요" />
                            </div>

                            <button type="submit" class="btn btn-primary float-right" >Submit</button>

                        </form>
                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <head th:replace="fragments/footer :: footer" />

        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>


