server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

app:
  auth:
    token:
      secret-key: ${AUTH_TOKEN_SECRET_KEY}
      refresh-cookie-key: ${ AUTH_TOKEN_REFRESH_COOKIE_KEY}
  oauth2:
    authorizedRedirectUri: "https://likelionhongik.com/oauth2/redirect"
#    tokenExpirationMsec: 86400

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${MYSQL_HOST}:3306/Mutsa_Recruiting_Database?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  data:
    web:
      pageable:
        default-page-size: 5
        one-indexed-parameters: true

  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google: # /oauth2/authorization/google ? ??? ???? ??.
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            scope: name, email, profile_image
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: ${NAVER_REDIRECT_URI}
          #            redirect-uri: http://localhost:8080/login/oauth2/code/naver

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email, profile_image #동의 항목
            client-name: Kakao

          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}

        #
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
# ec에선 위에꺼
cloud:
  aws:
    credentials:
      instance-profile: false
      access-key: ${EC2_S3_ACCESS_KEY}
      secret-key: ${EC2_S3_SECRET_KEY}
    region:
      auto: false
      static: ap-northeast-2
    stack:
      auto: false

#로컬에선 아래꺼
#cloud:
#  aws:
#    s3:
#      bucket: mutsa-recruiting
#    credentials:
#      instance-profile: false
#      access-key: ${LOCAL_S3_ACCESS_KEY}
#      secret-key: ${LOCAL_S3_SECRET_KEY}
#    region:
#      auto: false
#      static: ap-northeast-2
#    stack:
#      auto: false


logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error
