

<h1> 스프링 부트로 시작하는 웹 서비스 Ver.2 </h1>

<div class="col-md-12">
    <!--  로그인 기능 영역  -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#loginName}}
                Logged in as: <span id="user">{{loginName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/loginName}}
            {{^loginName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/loginName}}
        </div>
    </div>
    <br>


</div>