<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <head th:replace="fragments/sidebar :: sidebar" />
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <head th:replace="fragments/topbar :: topbar" />


            <!-- End of Topbar -->
<!--페이지 시작!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"><td th:text="${#strings.toUpperCase(type)}"></td></h1>
                    <p class="mb-4"><td th:text="${#strings.toUpperCase(type)}+'과제 조회 페이지입니다.'"></td> </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">과제 게시물</h6>
                            <a href="#" th:href="@{/admin/community/assignment/all/{subCategory}(subCategory=${type})}" class="btn btn-danger" role="button" style="float:right" onclick="return confirm('정말로 삭제 하시겠습니까?')">게시글 전체삭제</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>제목</th>
                                            <th>게시물</th>
                                            <th>작성자</th>
                                            <th>게시 날짜</th>
                                            <th>보기</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="ass : ${assignment}">
                                            <td th:if= "${#strings.length(ass.getTitle())>20}" th:text="${#strings.substring(ass.getTitle(), 0, 20)}"></td>
                                            <td th:if= "${#strings.length(ass.getTitle())<=20}"th:text="${ass.getTitle()}"></td>
                                            <td th:if= "${#strings.length(ass.getBody())>35}"th:text="${#strings.substring(ass.getBody(), 0, 35)}"></td>
                                            <td th:if= "${#strings.length(ass.getBody())<=35}"th:text="${ass.getBody()}"></td>
                                            <td th:text="${ass.getWriter()}"></td>
                                            <td th:if = "${ass.getDate()!=null}"th:text="${ass.getDate().toLocalDate()}"></td>
                                            <td th:if ="${ass.getDate()==null}" th:text="none"></td>
                                            <td th:if = "${ass.getDate()!=null}"><a th:title="${ass.getTitle()}" th:body="${ass.getBody()}" th:writer="${ass.getWriter()}" th:date="${ass.getDate().toLocalDate()}" th:onclick="openPop(this.getAttribute('title'),this.getAttribute('body'),this.getAttribute('writer'),this.getAttribute('date'))" class="btn btn-primary" role="button"> 보기 </a></td>
                                            <td th:if = "${ass.getDate()==null}"><a th:title="${ass.getTitle()}" th:body="${ass.getBody()}" th:writer="${ass.getWriter()}" th:date="none" th:onclick="openPop(this.getAttribute('title'),this.getAttribute('body'),this.getAttribute('writer'),this.getAttribute('date'))" class="btn btn-primary" role="button"> 보기 </a></td>
                                            <td> <a th:href="@{/admin/community/assignment/one/{id}/{type}(id = ${ass.getPost_id()}, type=${type})}" class="btn btn-danger" role="button" onclick="return confirm('정말로 삭제 하시겠습니까?')">삭제</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            </script>
            <!-- Footer -->
        <div th:replace="fragments/footer :: footer" />
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

<!--게시물 보기 팝업창 영역!!-->
<div class="popup_layer" id="popup_layer" style="display: none;">
    <!--    <div class="popup_box">-->
    <!--        <div style="height: 10px; width: 375px; float: top;">-->
    <!--            <a href="javascript:closePop();" role="button" style="margin-left: 6px; color: #293c74; font-size: 20px">x</a>-->
    <!--        </div>-->
    <!--        &lt;!&ndash;팝업 컨텐츠 영역&ndash;&gt;-->
    <!--        <div class="popup_cont">-->
    <!--            <h4> 게시물 상세보기</h4>-->
    <!--            <hr>-->
    <!--            <p value=""></p>-->
    <!--            제목 : <p th:text="${project.getTitle()}"></p>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

<style>
    .popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
    /*팝업 박스*/
    .popup_box{position: relative;top:50%;left:50%; overflow: auto; height: 650px; width:500px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
    /*컨텐츠 영역*/
    .popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px; color: #2f3037; }
    .popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
    .popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
    /*버튼영역*/
    .popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:20px;background:#ECECEC;word-break: break-word;}
    .popup_box .popup_btn a {position: relative; display: table-cell; height:30px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
    .popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
    .popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
    .popup_box .popup_btn a.close_day {background:#5d5d5d;}
    .popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
    /*오버레이 뒷배경*/
    .popup_overlay {position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
</style>

<script>
    function openPop(title,body,writer,date) {


        const element = document.getElementById("popup_layer");
        element.innerHTML =
            '    <div class="popup_box">\n' +
            '        <div style="height: 10px; width: 375px; float: top;">\n' +
            '            <a href="javascript:closePop();" role="button" style="margin-left: 6px; color: #293c74; font-size: 20px">x</a>\n' +
            '        </div>\n' +
            '        <div class="popup_cont">\n' +
            '            <h4>' + title+'</h4>'+
            '            작성자 : '+writer+
            '    <br>\n ' +
            '            날짜 : '+ date +
            '      <hr>\n'+ body +
            '            <br>\n' +
            '        </div>\n' +
            '    </div>\n' ;
        element.style.display="block";

    }

    //팝업 닫기
    function closePop() {
        document.getElementById("popup_layer").style.display = "none";
    }
</script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>