<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <head th:replace="fragments/sidebar :: sidebar" />
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <head th:replace="fragments/topbar :: topbar" />


            <!-- End of Topbar -->
            <!--페이지 시작!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800" th:if="${type=='NOTICE'}">공지 게시판 관리</h1>
                <h1 class="h3 mb-2 text-gray-800" th:if="${type=='FREEBOARD'}">자유 게시판 관리</h1>
                <h1 class="h3 mb-2 text-gray-800" th:if="${type=='QNA'}">QnA 게시판 관리</h1>
                <p class="mb-4">게시판 관리 페이지 입니다.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">게시판 조회</h6>
                        <a href="#" th:href="@{/admin/community/post/all/{subCategory}(subCategory=${type})}" class="btn btn-danger" role="button" style="float:right" onclick="return confirm('정말로 삭제 하시겠습니까?')">게시글 전체삭제</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>제목</th>
                                    <th>게시물</th>
                                    <th>작성자</th>
                                    <th>게시 날짜</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="post : ${posts}">
                                    <td th:if= "${#strings.length(post.getTitle())>25}" th:text="${#strings.substring(post.getTitle(), 0, 20)}"></td>
                                    <td th:if= "${#strings.length(post.getTitle())<=20}"th:text="${post.getTitle()}"></td>
                                    <td th:if= "${#strings.length(post.getBody())>35}"th:text="${#strings.substring(post.getBody(), 0, 35)}"></td>
                                    <td th:if= "${#strings.length(post.getBody())<=35}"th:text="${post.getBody()}"></td>
                                    <td th:text="${post.getWriter()}"></td>
                                    <td th:text="${post.getDate().get().toLocalDate()}"></td>
                                    <td> <a th:href="@{/admin/community/post/one/{subCategory}/{id}(subCategory=${type},id = ${post.getPost_id()})}" class="btn btn-danger" role="button" onclick="return confirm('정말로 삭제 하시겠습니까?')">삭제</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        </script>
        <!-- Footer -->
        <div th:replace="fragments/footer :: footer" />
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>